* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.texto-menu {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

#desktoppage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-sub {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 0px 7rem;
    border: 3px solid;
}

#menu-left {
    width: 45.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#menu-right {
    width: 24rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#number {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem; /* Espaço entre o número e o botão */
}

#button-donate {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #fff;
    background-color: #FF3D9A;
    width: 181px;
    height: 64px;
    border: none;
    border-radius: 34px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    #menu-sub {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        border: none; /* Remover a borda em dispositivos móveis */
    }

    #menu-left, #menu-right {
        width: 100%;
        max-width: 320px;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    #menu-right {
        flex-direction: row;
        justify-content: center;
    }

    #number, #button-donate {
        width: auto;
        justify-content: center;
        margin: 0.5rem;
    }

    #button-donate {
        width: auto; /* Ajustar a largura conforme necessário */
    }
}

@media (max-width: 480px) {
    .texto-menu {
        font-size: 18px;
    }

    #button-donate {
        font-size: 18px;
        padding: 10px 20px;
    }
}
