/*Responsividade-Fazer dps
 @media (max-width: 768px) {
    #menu-sub {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        border: none; 
    }

    #menu-left, #menu-right {
        width: 100%;
        max-width: 320px;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    #menu-right {
        flex-direction: row;
        justify-content: center;
    }

    #number, #button-donate {
        width: auto;
        justify-content: center;
        margin: 0.5rem;
    }

    #button-donate {
        width: auto;
    }
}

@media (max-width: 480px) {
    .texto-menu {
        font-size: 18px;
    }

    #button-donate {
        font-size: 18px;
        padding: 10px 20px;
    }
} */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
}

.texto-menu {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

#menu-left img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

#menu {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 7rem;
}

#menu-left {
    width: 45.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-right {
    width: 24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
}

.button-donate {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #fff;
    background-color: #FF3D9A;
    width: 181px;
    height: 64px;
    border: none;
    border-radius: 34px;
    padding: 16px 32px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#divider {
    width: 1200px;
    height: 2px;
    border-top: 1px solid #000000;
    margin: 0 auto;
}

#main-screen{
    width: 100%;
    height: 100%;
    padding: 80px 0px 120px 0px;
    gap: 40px;
    display: flex;
    justify-content: center;
}
#imagem-direita-main-screen{
    width: 584px;
    height: 616px;
    object-fit: contain;
}

#info-block{
    width: 584px;
    height: 616px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#info-block h1{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.02em;
    color: #1E1F27;
    margin-top: 25px;
}

#info-block p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    color: #37383F;
    margin-top: -20px;
}

#info-block h3{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 0px;
}

#botoes{
    margin-top: -15px;
    width: 100%;
    display: flex;
    gap: 32px;
}

#button-adopt{
    height: 64px;
    padding: 16px 32px;
    border-radius: 32px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#stats-block{
    width: 100%;
    background-color: #1E1F27;
    padding: 80px 0px;
}

#stats-block h2{
    color: #fff;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#text-information{
    width: 1200px;
    height: 100%;
    margin: auto;
    gap: 80px;
    display: flex;
    flex-direction: column;
}

#container-stats{
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.stats-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stats-title{
    color: #F8DB46;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.02em;
    text-align: center;
}

.stats-description{
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#donations-block{
    width: 100%;
    height: 100%;
    padding: 80px 0px 120px 0px;
    background-color: #1E1F27;
    display: flex;
    justify-content: center;
}

#main-donations-block{
    margin-top: 80px;
    width: 1280px;
    height: 100%;
    gap: 80px;
    display: flex;
    flex-direction: column;
}

.cards-adopt{
    width: 400px;
    height: 380px;
    padding: 36px;
    border: 2px solid #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

#donations-block h2{
    color: #fff;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#main-donations-block span{
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: left;
}
#main-donations-block p{
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    opacity: 80%;
}

#adopt-info-block{
    padding: 80px 0px 120px;
}

#main-adopt-info{
    width: 1208px;
    height: 100%;
    gap: 40px;
    margin: 0 auto;
    display: flex;
}

#text-adopt-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text-adopt-info button{
    width: 221px;
    height: 64px;
    padding: 16px 32px;
    gap: 8px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 32px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
}

#adopt-info-block h2{
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#text-adopt-info span{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
}

#text-adopt-info ul{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

#text-adopt-info li{
    margin-bottom: 15px;
}

#difference-block{
    background-color: #1E1F27;
    height: 100%;
    padding: 80px 0px;
}

#main-difference{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
    gap: 80px;
    display: flex;
    flex-direction: column;
}

#title-difference{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

#title-difference h2{
    color: #fff;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#container-cards{
    display: flex;
    gap: 40px;
}

.cards-difference{
    width: 274px;
    height: 100%;
    border-radius: 24px;
    border: 2px solid #fff;
    gap: 24px;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards-difference span{
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.02em;
    text-align: center;
}

.cards-difference p{
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    opacity: 80%;
}

.cards-difference button{
    width: 225px;
    height: 64px;
    padding: 16px 24px;
    border-radius: 16px;
    border: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color:#000;
    cursor: pointer;
}

#button1-difference{
    background-color: #04C27F;
    color: #1E1F27;
}
#button2-difference{
    background-color: #F1D06E;
    color: #1E1F27;
}
#button3-difference{
    background-color: #FF3D9A;
    color: #fff;
}
#button4-difference{
    background-color: #5758F1;
    color: #fff;
}

#title-difference img{
    width: 100px;
    height: 100px;
    margin: 17px 60px;
    object-fit: contain;
}

#adopt-block{
    background-color: #1E1F27;
    height: 525px;
    padding: 80px 0px 120px 0px;
    display: flex;
    justify-content: center;
}

#text-adopt-block h2{
    color: #fff;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#text-adopt-block span{
    color: #F8DB46;
}

#text-adopt-block h3{
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#buttons-adopt-block{
    gap: 24px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#button-left{
    background-color: #F8DB46;
    width: 241px;
    height: 64px;
    padding: 16px 32px;
    gap: 8px;
    border-radius: 32px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
}

#button-right{
    color: #fff;
    background-color: #1E1F27;
    width: 240px;
    height: 64px;
    padding: 16px 32px;
    gap: 8px;
    border: 2px solid #fff;
    border-radius: 32px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
}

#img-left{
    width: 300px;
    height: 400px;
    object-fit: contain;
    margin-top: 45px;
    margin-left: 66px;
}

#img-right{
    width: 300px;
    height: 400px;
    object-fit: contain;
    margin-top: 45px;
    margin-right: 66px;
}

#subscription{
    background-color: #5758F1;
    padding: 80px 0px;
    height: 100%;
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    width: 1208px;
    height: 100%;
    gap: 12px;
    display: flex;
    flex-direction: column;
}
#header h2{
    color: #fff;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;    
    text-align: center;
}

#header p{
    margin-top: -30px;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    opacity: 80%;
}

#form{
    display: flex;
    align-items: center;
    gap: 24px;
}

#form input{
    width: 395px;
    height: 64px;
    padding: 16px 136px 16px 24px;
    gap: 8px;
    border-radius: 32px;
    border: 2px solid #fff;
    background-color: #5758F1;
}

#form input::placeholder {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    opacity: 50%;
}

#form button{
    width: 170px;
    height: 64px;
    padding: 16px 32px;
    gap: 8px;
    border: none;
    border-radius: 32px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #1E1F27;
    cursor: pointer;
}

.footer-main{
    width: 1208px;
    height: 100%;
    padding: 80px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    height: 272px;
}

#logo-footer{
    width: 272px;
    height: 100%;
    gap: 19px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#img-logo-footer{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#logo-footer h6{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

#logo-footer p{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}
.links-row ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links{
    list-style-type: none;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #1E1F27;
}

#contacts{
    width: 272px;
    height: 232px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#address{
    display: flex;
}

#contacts img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

#texts-address{
    display: flex;
    flex-wrap: wrap;
}

#phone{
    display: flex;
    align-items: center;
}

#mail{
    display: flex;
    align-items: center;
}

.text-contacts{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin: 0px 0px 0px 4px;
}

#socials{
    display: flex;
    gap: 20px;
}

.footer-main hr{
    border: 2px solid black;
    margin-top: 60px;
    width: 100%;
}

#final-text-footer{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#final-text-footer span{
    color: #ff3d9a;
}